*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-content: center;
    justify-content: center;
}

.background { 
    position: fixed;
    color: rgb(159, 219, 219);
    width: 100%;
} 

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: #fff;
}

.container .first {
    background-color: rgb(245, 139, 19);
    padding: 30px 30px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;    
    flex: 1;
}

.first img {
    margin-bottom: 20px;
}

.first h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    margin-bottom: 20px;
}

.container .second {
    background-color: hsl(184 100% 22%);
    padding: 30px 30px;
    border-radius: 2px;
}

.second img {
    margin-bottom: 20px;
}

.second h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    margin-bottom: 20px;
}

.container .third {
    background-color: hsl(179 100% 13%);
    padding: 30px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

}

.third img {
    margin-bottom: 20px;
}

.third h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
}
.third p {
    margin-top: 20px
}

button {
    border-radius: 20px;
    border: none;
    margin-top: 80px;
    padding: 12px 30px;
}

.first button {
    color: rgb(245, 139, 19);
}

.second button {
    color: hsl(184 100% 22%);  
}

.third button {
    color: hsl(179 100% 13%)
} 


@media screen and (max-width: 375px) {
    body {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .container .first, .container .second, .container .third {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .container {
        display: flex;
        flex-direction: column;
    }




    
}
